// Variables

// Main color (White)
$primary-color: #fff;

// Anchor color
$secondary-color: #00cdff;

// Font color (Black)
$font-color: #000;

$navbar-text-shadow: false;
$header-text-shadow: false;
$header-background-color: $primary-color;
$intro-text-color: $primary-color;
$navbar-color: $font-color;
$navbar-lg-collapse-background-color: $header-background-color;
$navbar-lg-background: transparent;
$navbar-sm-background-color: $navbar-lg-collapse-background-color;

$social-buttons-color: $secondary-color;
